main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--default-margin);
}

section#team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#team-members article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--default-margin);
    padding: var(--default-margin);
    width: 25%;
    height: auto;
    border-radius: var(--default-radius);
    background-color: var(--mantle-color);
    gap: var(--default-margin);
}

section#team-members article>* {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section#team-members article>*>* {
    margin: 0;
}

div.team-member-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.team-member-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#visit {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--default-margin);
}

section#offices {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section#team h2,
section#visit h2 {
    text-align: center;
    margin: var(--default-margin);
}