main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--default-margin);
}

section#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: var(--default-margin);
}

section#team article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--default-margin);
    padding: var(--default-margin);
    height: auto;
    width: 25%;
    border-radius: var(--default-radius);
    background-color: var(--mantle-color);
    gap: var(--default-margin);
}

section#team article>* {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section#team article>*>* {
    margin: 0;
}

div.team-member-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.team-member-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#offices {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: var(--default-margin);
}