main {
    grid-area: mn;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "la sc ra";
}

section#dishes {
    grid-area: sc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: var(--default-margin);
}

section#dishes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: var(--default-margin);
    padding: var(--default-margin);
    width: 25%;
    height: 40vh;
    border-radius: var(--default-radius);
    background-color: var(--mantle-color);
}

section#dishes article h3 {
    text-align: center;
    margin: var(--default-margin);
}

div.dish-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.dish-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.dish-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
    border-radius: var(--default-radius);
    background-color: var(--accent-color);
}

aside#la {
    grid-area: la;
}

aside#ra {
    grid-area: ra;
}

aside#la,
aside#ra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--base-color);
}

aside div.ad-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside div.ad-img {
    height: 100%;
    background-image: url("../img/ads/podme.png");
    background-size: contain;
}

aside h2 {
    font-size: 200%;
    margin: var(--default-margin);
}