:root {
    --base-color: #dce0e8;
    --mantle-color: #e6e9ef;
    --crust-color: #eff1f5;
    --accent-color: #ff5733;
    --text-color: #4c4f69;
    --border-radius: 0.25vw
}

body {
    margin: 0;
    background-color: var(--base-color);
}

div#wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas:
        "hd hd hd"
        "la sc ra"
        "ft ft ft";
}

header {
    grid-area: hd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--crust-color)
}

header img {
    height: 90%
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

section#dishes {
    grid-area: sc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1vw;
}

section#dishes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1vw;
    padding: 1vw;
    width: 25%;
    height: 40vh;
    border-radius: var(--border-radius);
    background-color: var(--mantle-color);
}

div.dish-img {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

div.dish-img img[src*="img/dish-"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.dish-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
}

aside#la {
    grid-area: la;
}

aside#ra {
    grid-area: ra;
}

aside {
    display: flex;
    flex-direction: column;
    /* TODO: center align the items */
    /* align-items: center; */
    justify-content: space-between;
    background-color: var(--base-color);
}

aside div.ad-img {
    height: 95%;
    background-image: url("../img/ad-podme.png");
    background-size: contain;
}

footer {
    grid-area: ft;
    background-color: var(--crust-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 400%;
}

p {
    font-size: larger;
}

h3 {
    font-size: x-large;
}

p,
h3,
h2 {
    color: var(--text-color);
}