:root {
    --base-color: #292c3c;
    --mantle-color: #e6e9ef;
    --accent-color: #ff5733;
}

body {
    margin: 0;
    background-color: var(--base-color);
}

div#wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas:
        "hd hd hd"
        "la sc ra"
        "ft ft ft";
}

header {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mantle-color)
}

header img {
    height: 100%
}

header nav {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

header nav a {
    font-size: 300%;
}

aside#la {
    grid-area: la;
    background-color: yellow
}

section {
    grid-area: sc;
    margin: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    display: flex;
    margin: 1vw;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: var(--mantle-color);
}

article div#dish-img {
    width: 75%;
    height: 30vh;
}

article div#dish-img img[src*="img/dish-"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside#ra {
    grid-area: ra;
    background-color: aqua;
}

footer {
    grid-area: ft;
    background-color: blue;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}