:root {
    --color: #ff5733;
}

body {
    margin: 0;
    background-color: black;
}

div#wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas:
        "hd hd hd"
        "la sc ra"
        "ft ft ft";
}

div#wrapper header {
    grid-area: hd;
    background-color: orange
}

div#wrapper aside#la {
    grid-area: la;
    background-color: yellow
}

div#wrapper section {
    grid-area: sc;
    background-color: red;
}

div#wrapper aside#ra {
    grid-area: ra;
    background-color: aqua;
}

div#wrapper footer {
    grid-area: ft;
    background-color: blue;
}